<div class="ui text container">
  <h2 class="ui large header">
    <div class="content">{{post.title}}</div>
    <div class="sub header">
    {{post.createdDate}}
<!--      <img class="ui avatar image" src="assets/elliot.jpg">-->
<!--    <a href="#root">Jamith Nimantha</a>-->
  </div>
  </h2>
  <img class="ui centered fluid image" [src]="post.image">
  <br>
  <div class="overlay">
    <div class="ui labeled icon vertical menu">
      <a class="item"><i class="twitter icon"></i> Tweet</a>
      <a class="item"><i class="facebook icon"></i> Share</a>
      <a class="item"><i class="mail icon"></i> E-mail</a>
    </div>
  </div>
  <p>{{post.content}}</p>

  <div class="ui segment">
    <h2 class="ui left floated header">comments</h2>
    <div class="ui clearing divider"></div>
    <div class="ui comments">
      <div class="comment" *ngFor="let comment of comments">
        <a class="avatar">
          <img src="assets/elliot.jpg" alt="avatar">
        </a>
        <div class="content">
          <a class="author">{{comment.name}}</a>
          <div class="metadata">
            <div class="date">{{comment.date}}</div>
          </div>
          <div class="text">
            {{comment.comment}}
          </div>
        </div>
      </div>
      <div class="ui reply form">
        <div class="field">
          <label>Your Name</label>
          <input [(ngModel)]="comment.name" type="text">
        </div>
        <div class="field">
          <label>Your Comment</label>
          <textarea [(ngModel)]="comment.comment" autocomplete="off"></textarea>
        </div>
        <button class="ui primary submit labeled icon button" (click)="onCommentButton()">
          <i class="icon edit"></i> Add Comment
        </button>
      </div>
    </div>
  </div>

</div>



