



<div class="ui text container">
  <h2 class="ui large header">
    <div class="content">{{post.title}}</div>
    <div class="sub header">
    {{post.createdDate}}
<!--      <img class="ui avatar image" src="assets/elliot.jpg">-->
<!--    <a href="#root">Jamith Nimantha</a>-->
  </div>
  </h2>
  <img class="ui centered fluid image" [src]="post.image">
  <br>
  <div class="overlay">
    <div class="ui labeled icon vertical menu">
      <a class="item"><i class="twitter icon"></i> Tweet</a>
      <a class="item"><i class="facebook icon"></i> Share</a>
      <a class="item"><i class="mail icon"></i> E-mail</a>
    </div>
  </div>
  <p>{{post.content}}</p>

  <div class="ui segment">
    <h2 class="ui left floated header">comments</h2>
    <div class="ui clearing divider"></div>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <img src="assets/elliot.jpg" alt="avatar">
        </a>
        <div class="content">
          <a class="author">Joe Henderson</a>
          <div class="metadata">
            <div class="date">1 day ago</div>
          </div>
          <div class="text">
            <p>The hours, minutes and seconds stand as visible reminders that your effort put them all there. </p>
            <p>Preserve until your next run, when the watch lets you see how Impermanent your efforts are.</p>
          </div>
<!--          <div class="actions">-->
<!--            <a class="reply">Reply</a>-->
<!--          </div>-->
        </div>
      </div>
      <div class="comment">
        <a class="avatar">
          <img src="assets/elliot.jpg" alt="avatar">
        </a>
        <div class="content">
          <a class="author">Christian Rocha</a>
          <div class="metadata">
            <div class="date">2 days ago</div>
          </div>
          <div class="text">
            I re-tweeted this.
          </div>
<!--          <div class="actions">-->
<!--            <a class="reply">Reply</a>-->
<!--          </div>-->
        </div>
      </div>
      <div class="ui reply form">
        <div class="field">
          <textarea autocomplete="off"></textarea>
        </div>
        <div class="ui primary submit labeled icon button">
          <i class="icon edit"></i> Add Comment
        </div>
      </div>
    </div>
  </div>

</div>



