
<div class="ui breadcrumb">
  <div class="section">Home</div>
  <div class="divider"> / </div>
  <div class="active section">Dashboard</div>
</div>
<div class="ui three statistics" style="width: 80.5%; margin-top: 0.5%">
  <div class="statistic">
    <div class="value">
      22
    </div>
    <div class="label">
      Posts
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      120
    </div>
    <div class="label">
      Comments
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="eye icon"></i> 3000
    </div>
    <div class="label">
      Views
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
<table class="ui raised violet segment very compact table" style="width: 80.5%; margin-top: 0.5%">
  <thead>
  <tr>
    <th>#</th>
    <th>Post Title</th>
    <th>Date</th>
    <th>Modified Date</th>
    <th>Views</th>
    <th class="collapsing">Status</th>
    <th class="center aligned">#</th>
    <th class="center aligned">#</th>
    <th class="center aligned">#</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="collapsing">
      <div class="ui toggle checkbox">
        <input type="checkbox" checked> <label></label>
      </div>
    </td>
    <td class="center aligned">
      <button class="circular ui icon green button">
        <i class="eye icon"></i>
      </button>
    </td>
    <td class="center aligned">
      <button class="circular ui icon red button">
        <i class="close icon icon"></i>
      </button>
    </td>
    <td class="center aligned">
      <button class="circular ui icon blue button">
        <i class="edit icon"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td>123</td>
    <td>How Install Lamp Stack</td>
    <td>2019-09-11</td>
    <td>2019-10-12</td>
    <td>321</td>
    <td class="collapsing">
      <div class="ui toggle checkbox">
        <input type="checkbox" checked> <label></label>
      </div>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon green button">
        <i class="eye icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon red button">
        <i class="close icon icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon blue button">
        <i class="edit icon"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td class="collapsing">
      <div class="ui toggle checkbox">
        <input type="checkbox" checked> <label></label>
      </div>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon green button">
        <i class="eye icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon red button">
        <i class="close icon icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon blue button">
        <i class="edit icon"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td class="collapsing">
      <div class="ui toggle checkbox">
        <input type="checkbox" checked> <label></label>
      </div>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon green button">
        <i class="eye icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon red button">
        <i class="close icon icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon blue button">
        <i class="edit icon"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td class="collapsing">
      <div class="ui toggle checkbox">
        <input type="checkbox" checked> <label></label>
      </div>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon green button">
        <i class="eye icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon red button">
        <i class="close icon icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon blue button">
        <i class="edit icon"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td class="collapsing">
      <div class="ui toggle checkbox">
        <input type="checkbox" checked> <label></label>
      </div>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon green button">
        <i class="eye icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon red button">
        <i class="close icon icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon blue button">
        <i class="edit icon"></i>
      </button>
    </td>
  </tr>
  <tr>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td style="text-align: center"></td>
    <td class="collapsing">
      <div class="ui toggle checkbox">
        <input type="checkbox" checked> <label></label>
      </div>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon green button">
        <i class="eye icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon red button">
        <i class="close icon icon"></i>
      </button>
    </td>
    <td style="text-align: center">
      <button class="circular ui icon blue button">
        <i class="edit icon"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
