
<div class="ui breadcrumb">
  <div class="section">Home</div>
  <div class="divider"> / </div>
  <div class="active section">Dashboard</div>
</div>
<div class="ui three statistics" style="width: 80.5%; margin-top: 0.5%">
  <div class="statistic">
    <div class="value">
      {{stat.postCount}}
    </div>
    <div class="label">
      Posts
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{stat.commentCount}}
    </div>
    <div class="label">
      Comments
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="eye icon"></i> {{stat.viewsCount}}
    </div>
    <div class="label">
      Views
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
<table class="ui raised violet segment very compact table" style="width: 80.5%; margin-top: 0.5%">
  <thead>
  <tr>
    <th>#</th>
    <th>Post Title</th>
    <th>Created Date</th>
    <th>Modified Date</th>
    <th>Views</th>
    <th class="collapsing">Status</th>
    <th class="center aligned">#</th>
    <th class="center aligned">#</th>
    <th class="center aligned">#</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of posts;let i = index">
    <td>{{i+1}}</td>
    <td>{{post.title}}</td>
    <td>{{post.createdDate}}</td>
    <td>{{post.modifiedDate}}</td>
    <td>{{post.views}}</td>
    <td class="collapsing">
      <div class="ui toggle checkbox">
        <input type="checkbox" [checked]="post.status" (change)="onStatusChange(post)"> <label></label>
      </div>
    </td>
    <td class="center aligned">
      <button class="circular ui icon green button" (click)="onView(post)">
        <i class="eye icon"></i>
      </button>
    </td>
    <td class="center aligned">
      <button class="circular ui icon blue button" (click)="onUpdate(post)">
        <i class="edit icon"></i>
      </button>
    </td>
    <td class="center aligned">
      <button class="circular ui icon red button" (click)="onDelete(post)">
        <i class="close icon"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
