<div class="ui text container">
  <div *ngFor="let post of posts">
    <h2 class="ui large header">
      <div class="content">{{post.title}}</div>
      <div class="sub header">
        {{post.createdDate}}
      </div>
    </h2>
<!--    <div class="ui hidden divider"></div>-->
    <img class="ui small left floated image" [src]="post.image">
    <p>
      {{post.content}}
      <button class="ui right floated button" (click)="onReadMore(post)">Read More</button>
    </p>
<!--    <button class="ui right floated button" (click)="onReadMore(post)">Read More</button>-->
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
  </div>
<!--  <div class="ui basic circular huge fluid button">-->
<!--    <a href="#root">Load More</a>-->
<!--  </div>-->
  <div class="ui hidden divider"></div>
</div>
