<div class="ui text container">
  <div>
    <h2 class="ui large header">
      <div class="content">Another blog post</div>
      <div class="sub header">
        April 1, 2027 by <a href="#root">Mac</a>
      </div>
    </h2>
    <div class="ui hidden divider"></div>
    <img class="ui small left floated image" src="/assets/lamp_stack.jpg">
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem
      lacinia quam venenatis vestibulum. Sed posuere consectetur est at
      lobortis. Cras mattis consectetur purus sit amet fermentum.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Duis mollis, est non commodo luctus, nisi erat porttitor
      ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac
      consectetur ac, vestibulum at eros...
      <button class="ui right floated button">Read More</button>
    </p>
    <div class="ui hidden divider"></div>

    <div class="ui hidden divider"></div>
  </div>
  <div>
    <h2 class="ui large header">
      <div class="content">Another blog post</div>
      <div class="sub header">
        April 1, 2027 by <a href="#root">Mac</a>
      </div>
    </h2>
    <div class="ui hidden divider"></div>
    <img class="ui small left floated image" src="/assets/lamp_stack.jpg">
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem
      lacinia quam venenatis vestibulum. Sed posuere consectetur est at
      lobortis. Cras mattis consectetur purus sit amet fermentum.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Duis mollis, est non commodo luctus, nisi erat porttitor
      ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac
      consectetur ac, vestibulum at eros...
      <button class="ui right floated button">Read More</button>
    </p>
    <div class="ui hidden divider"></div>

    <div class="ui hidden divider"></div>
  </div>
  <div>
    <h2 class="ui large header">
      <div class="content">Another blog post</div>
      <div class="sub header">
        April 1, 2027 by <a href="#root">Mac</a>
      </div>
    </h2>
    <div class="ui hidden divider"></div>
    <img class="ui small left floated image" src="/assets/lamp_stack.jpg">
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem
      lacinia quam venenatis vestibulum. Sed posuere consectetur est at
      lobortis. Cras mattis consectetur purus sit amet fermentum.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Duis mollis, est non commodo luctus, nisi erat porttitor
      ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac
      consectetur ac, vestibulum at eros...
      <button class="ui right floated button">Read More</button>
    </p>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
  </div>
  <div>
    <h2 class="ui large header">
      <div class="content">Another blog post</div>
      <div class="sub header">
        April 1, 2027 by <a href="#root">Mac</a>
      </div>
    </h2>
    <div class="ui hidden divider"></div>
    <img class="ui small left floated image" src="/assets/lamp_stack.jpg">
    <p>
      Cum sociis natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem
      lacinia quam venenatis vestibulum. Sed posuere consectetur est at
      lobortis. Cras mattis consectetur purus sit amet fermentum.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
      auctor. Duis mollis, est non commodo luctus, nisi erat porttitor
      ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac
      consectetur ac, vestibulum at eros...
      <button class="ui right floated button">Read More</button>
    </p>
    <div class="ui hidden divider"></div>

    <div class="ui hidden divider"></div>
  </div>
  <div class="ui basic circular huge fluid button">
    <a href="#root">Load More</a>
  </div>
  <div class="ui hidden divider"></div>
</div>
