<div class="ui breadcrumb">
  <div class="section">Home</div>
  <div class="divider"> / </div>
  <div class="active section">New Post</div>
</div>


<div class="ui form" style="width: 80.5%; margin-top: 0.5%">

<!--  <button class="ui left floated button">Left Floated</button>-->
  <div class="ui teal secondary segment">
    <button class="ui right floated primary button" (click)="onSave()">Save</button>
  <div class="field">
    <label>Title</label>
    <input [(ngModel)]="post.title" type="text">
  </div>
  <div class="field">
    <label>Featured Image</label>
    <div class="column" style="margin-left: 1%;width: 100%">
      <div class="ui mini teal segment">
        <app-form-upload
          (image)="setVenueImage($event)"></app-form-upload>
        <div>
          <img style="height: 50%" class="ui medium centered image"
               [src]="image">
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Content</label>
    <textarea [(ngModel)]="post.content" rows="20"></textarea>
  </div>
  </div>
</div>

