<div class="ui borderless main menu">
  <div class="ui text container">
    <div class="header item">
      <!--      <img class="logo" src="assets/images/logo.png">-->
      {{detail.name}}
    </div>
    <a [routerLink]="''" class="item">Home</a>
    <!--    <a routerLink="''" class="item">Articles</a>-->
  </div>
</div>

<div class="s-media">
  <a [href]="detail.facebook" target="_blank" class="s-item facebook">
    <span class="fa fa-facebook" style="color: white"></span>
  </a>

  <a [href]="detail.twitter" target="_blank" class="s-item twitter">
    <span class="fa fa-twitter" style="color: white"></span>
  </a>

  <a [href]="detail.linkedin" target="_blank" class="s-item linkedin">
    <span class="fa fa-linkedin" style="color: white"></span>
  </a>

  <a [href]="detail.github" target="_blank" class="s-item github">
    <span class="fa fa-github" style="color: white"></span>
  </a>

  <a id="sm-close" class="s-item print">
    <span class="fa fa-arrow-left"></span>
  </a>
  <a id="sm-open" class="s-item print sm-collapse">
    <span class="fa fa-arrow-right"></span>
  </a>
</div>

<router-outlet></router-outlet>

<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable center aligned inverted divided grid">
      <div class="seven wide column">
        <h4 class="ui inverted header">About Us</h4>
        <p>{{detail.description}}</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list">
      <a class="item">{{detail.name}} © Copyright 2019 || {{detail.domain}}</a>
    </div>
  </div>
</div>
