<div class="ui borderless main menu">
  <div class="ui text container">
    <div class="header item">
      <!--      <img class="logo" src="assets/images/logo.png">-->
      Home
    </div>
    <a href="#" class="item">Blog</a>
    <a href="#" class="item">Articles</a>
    <!--    <a href="#" class="ui right floated dropdown item">-->
    <!--      Dropdown <i class="dropdown icon"></i>-->
    <!--      <div class="menu">-->
    <!--        <div class="item">Link Item</div>-->
    <!--        <div class="item">Link Item</div>-->
    <!--        <div class="divider"></div>-->
    <!--        <div class="header">Header Item</div>-->
    <!--        <div class="item">-->
    <!--          <i class="dropdown icon"></i>-->
    <!--          Sub Menu-->
    <!--          <div class="menu">-->
    <!--            <div class="item">Link Item</div>-->
    <!--            <div class="item">Link Item</div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="item">Link Item</div>-->
    <!--      </div>-->
    <!--    </a>-->
  </div>
</div>

<div class="s-media">
  <a href="https://www.facebook.com/BossManLK/" target="_blank" class="s-item facebook">
    <span class="fa fa-facebook" style="color: white"></span>
  </a>

  <a href="https://twitter.com/JamithNimantha" target="_blank" class="s-item twitter">
    <span class="fa fa-twitter" style="color: white"></span>
  </a>

  <a href="https://www.linkedin.com/in/jamith-nimantha" target="_blank" class="s-item linkedin">
    <span class="fa fa-linkedin" style="color: white"></span>
  </a>

  <a href="https://github.com/jamith-nimantha" target="_blank" class="s-item github">
    <span class="fa fa-github"style="color: white"></span>
  </a>

  <!--    <a href="/" target="_blank" class="s-item stack-overflow">-->
  <!--        <span class="fa fa-stack-overflow" style="color: white"></span>-->
  <!--    </a>-->

  <!--    <a href="/" target="_blank" class="s-item stack-exchange">-->
  <!--        <span class="fa fa-stack-exchange" style="color: white"></span>-->
  <!--    </a>-->

  <a id="sm-close"  class="s-item print">
    <span class="fa fa-arrow-left"></span>
  </a>
  <a id="sm-open"  class="s-item print sm-collapse">
    <span class="fa fa-arrow-right"></span>
  </a>
</div>

<router-outlet></router-outlet>

<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Group 1</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
              <a href="#" class="item">Link Four</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Group 2</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
              <a href="#" class="item">Link Four</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Group 3</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
              <a href="#" class="item">Link Four</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
  </div>
</div>
